In [2]:
#int 
a = 5678
print(a ,type(a))

5678 <class 'int'>

In [3]:
#float
a = 56.45
print(a ,type(a))

56.45 <class 'float'>

In [ ]:
import qrcode 
img = qrcode.make()
img.save('myqr.png')

In [4]:
#complex
a = 56 + 8j
print(a ,type(a))

(56+8j) <class 'complex'>

In [5]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [6]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [7]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [8]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [9]:
# list
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [10]:
a[2]= 2000
print(a)

[2, 3434, 2000, 5467]

In [2]:
a = (3,544,5,346,5670)

print(a[3])


a = list(a)
a[3] = 900
a = tuple(a)
print (a)

346
(3, 544, 5, 900, 5670)

In [18]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [19]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [20]:
# dict:- key value pair datatype, # hash

a = {'Name':'Aman','Age':23,'Address':'Delhi'}
print(a,type(a))
a['Address'] = 'Noida/Gr Noida'
print(a)

{'Name': 'Aman', 'Age': 23, 'Address': 'Delhi'} <class 'dict'>
{'Name': 'Aman', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [21]:
a['Name'] = 'Aman Kumar'
print(a)

{'Name': 'Aman Kumar', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [22]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

print(data)

import pandas as pd

table = pd.DataFrame(data)
table

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [23]:
a = True
print(a,type(a))

True <class 'bool'>

In [24]:
# #int,float, complex
# str, tuple, list
# set, dict,
# # bool

# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

salary = 27800
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Executive

In [2]:
import random 
random.randint(100000, 600000)

451769

In [29]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

print(salary)

27800

In [30]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

22387 Executive
46968 Jr Manager
59309 Manager
27169 Executive
43363 Jr Manager

In [31]:
import time
for i in range(20):
  print(time.asctime()) # date wagera aaye 
  time.sleep(1) # 1 sec ka gap ka liya 
  display(clear= True) # phale wala clear ho jaye

Tue Jul  1 19:59:08 2025

In [3]:
 #Questions[1]

Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

Question 1:  What is the capital of Australia?
A) Sydney
B) Melbourne
C) Canberra
D) Perth
Correct Answer!!



Question 2:  Who invented the telephone?
A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison
Better luck next time!!
Total Amount 10000

In [47]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

User choice: 5
Computer Choice: 2
Better Luck next time!!

In [37]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [38]:
say_hello('Mohan')

Hello Mohan, how are you??

In [40]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')
  
  vote(3)

In [43]:
def sound_box(paisa,platform = 'Paytm'):
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [44]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

  User choice: 3
  Computer Choice: 6
Better Luck next time!!

  User choice: 4
  Computer Choice: 8
Better Luck next time!!

  User choice: 4
  Computer Choice: 9
Better Luck next time!!