In [3]:
import pymysql as py
print('Done')

Done

In [4]:
conn = py.connect(user = 'root',
           password='Bhoomi@1234',
           host='localhost',
           autocommit = True)

print('Connection Created Successfully!!')
print('Done')
cur = conn.cursor()
print('done')

Connection Created Successfully!!
Done
done

In [19]:
# craete data base using python 
query = '''create database IITM_day7;'''
cur.execute(query)
print('done')

done

In [20]:
query = 'use IITM_day7;'
cur.execute(query) # to run the query in the sql 
print('done')

done

In [23]:
query = ''' create table employee_details
(
SID int not null,
NAME varchar(50),
COURSE varchar(50),
ADDRESS varchar(50),
SCHOLARSHIP float
);'''
cur.execute(query)
print('done')

done

In [25]:
query = '''insert into employee_details
values
(34,"bhoomi ","BCA","DELHI",5000),
(35,"pankhuri ","BCA","JANAKPURI",3000);
'''
cur.execute(query)
print('done')

done

In [26]:
sid = int(input('Enter your Roll_no/ SID: '))
name =input(' Enter your Name: ')
course =input(' Enter your Course: ')
address =input(' Enter your Address: ')
scholarship =float(input(' Enter your Scholarship: '))

q =f'''insert into employee_details values
({sid},"{name}","{course}","{address}",{scholarship});''' # data type = varchar "{}"
cur.execute(q)
print('done')

Enter your Roll_no/ SID:  56
 Enter your Name:  bhoomi
 Enter your Course:  bca
 Enter your Address:  pitampura
 Enter your Scholarship:  1000

done

In [31]:
#taking 3 enteries
n=3
for i in range(n):
    sid = int(input('Enter your Roll_no/ SID: '))
    name =input(' Enter your Name: ')
    course =input(' Enter your Course: ')
    address =input(' Enter your Address: ')
    scholarship =float(input(' Enter your Scholarship: '))
    
    q =f'''insert into employee_details values
    ({sid},"{name}","{course}","{address}",{scholarship});'''
    cur.execute(q)
    print('record inserted successfully')
print('done')

Enter your Roll_no/ SID:  23
 Enter your Name:  bhoomi
 Enter your Course:  bca
 Enter your Address:  pit
 Enter your Scholarship:  500

record inserted successfully

Enter your Roll_no/ SID:  67
 Enter your Name:  pankha
 Enter your Course:  bca
 Enter your Address:  250
 Enter your Scholarship:  260

record inserted successfully

Enter your Roll_no/ SID:  67
 Enter your Name:  manchi
 Enter your Course:  bca
 Enter your Address:  rohini
 Enter your Scholarship:  100

record inserted successfully
done

In [5]:
query='''select*from employee_details;'''

cur.execute(query)

records =cur.fetchall()  # to fetch all data 
all_columns=[]
for i in cur.description: # to get all the columns 
    all_columns.append(i[0])
    
import pandas as pd
pd.DataFrame(records,columns=all_columns)

OperationalError: (1046, 'No database selected')

In [33]:
for i in cur.description:
    print(i)

('SID', 3, None, 11, 11, 0, False)
('s_NAME', 253, None, 200, 200, 0, True)
('COURSE', 253, None, 200, 200, 0, True)
('ADDRESS', 253, None, 200, 200, 0, True)
('SCHOLARSHIP', 4, None, 12, 12, 31, True)

In [34]:
for i in cur.description:
    print(i[0])

SID
s_NAME
COURSE
ADDRESS
SCHOLARSHIP

In [36]:
def show_records(db,table):
    query=f'''select*from {db}.{table};'''
    
    cur.execute(query)
    
    records =cur.fetchall()
    all_columns=[]
    for i in cur.description:
        all_columns.append(i[0])
        
    import pandas as pd
    df=pd.DataFrame(records,columns=all_columns)
    return df
show_records('IITM_DB','sample_superstore')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9690,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9691,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9692,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x...",29.6000,4,0.00,13.3200
9693,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [37]:
conn.close()
print('done')

done