In [5]:
pip install gTTS

Collecting gTTS
  Using cached gTTS-2.5.4-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: requests<3,>=2.27 in c:\programdata\anaconda3\lib\site-packages (from gTTS) (2.32.3)
Requirement already satisfied: click<8.2,>=7.1 in c:\programdata\anaconda3\lib\site-packages (from gTTS) (8.1.8)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2025.6.15)
Using cached gTTS-2.5.4-py3-none-any.whl (29 kB)
Installing collected packages: gTTS
Successfully installed gTTS-2.5.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
# from gtts import gTTS
# def sound_box(paisa,platform = 'Paytm'):
#     text  = f'''{platform} par {paisa} rs Prapt hue.'''
#     audio = gTTS(text)
#     audio.save('paytm.mp3')

#     import pygame as p
#     p.init()
#     music = p.mixer.Sound('paytm.mp3')
#     music.play()

ModuleNotFoundError: No module named 'gtts'

In [6]:
 pip install pygame

Collecting pygame
  Using cached pygame-2.6.1-cp313-cp313-win_amd64.whl.metadata (13 kB)
Using cached pygame-2.6.1-cp313-cp313-win_amd64.whl (10.6 MB)
Installing collected packages: pygame
Successfully installed pygame-2.6.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
from gtts import gTTS
def sound_box(paisa,platform = 'Paytm'):
    text  = f'''{platform} par {paisa} rs Prapt hue.''' # user se input karana ho toh 
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()
    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [9]:
sound_box(500,'phonepe')

In [10]:
#function  programming 
def check_palidrome(word):
    return word

In [11]:
check_palidrome('ajay')

'ajay'

In [12]:
a= 'lucky' # reverse the word 
a[::-1]

'ykcul'

In [17]:

a = 'maam'

if a==a[::-1]: # reverse
   print( f'{a} is a palidrome')
else:
   print( f'{a} not a palidrome')

maam is a palidrome

In [3]:
 def check_palidrome(word):
     if type(word) == str:
         word =  word.upper() 
         if word==word[::-1]:
             return ' palidrome'
         else: 
             return 'not a palidrome'
     else:
          return 'invalid data type'

In [4]:
check_palidrome('Nitin')

' palidrome'

In [21]:
a:int = 'mohan' # ignore the data type by python 
print(a)

mohan

In [5]:
def give_fibo(n):
    fibo =[0,1] # by defualt 
    for i in range(n-2): # 5-2 =3
        last_num = fibo[-1] 
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num 
        fibo.append(next_num)  
    return fibo

In [6]:
give_fibo(6)

[0, 1, 1, 2, 3, 5]

In [2]:
def check_prime(number):
    for i in range(2,number):
        if number % i ==0:
            return ' not a prime'
            break
            print('happy')
        else:
            return'prime no'

In [3]:
check_prime(5)

'prime no'

In [49]:
n = 5
for i in range( 1,n+1):
    print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [51]:
n = 5
for i in range( 1,n+1):
    print('  ' *(n-i) + i*'* ' )

        *
      * *
    * * *
  * * * *
* * * * *

In [28]:
def print_star(n=5 , typ ='left'):
    if typ =='left': # no space 
        space = ''
    elif typ == 'right': # two space for clear alighnment
        space = ' '
    elif typ == 'mid': # one space 
        space == ' '
    for i in range( 1,n+1):
         print(space *(n-i) + i*'* ' )

In [53]:
print_star(5,'left')

    *
   * *
  * * *
 * * * *
* * * * *

In [56]:
def print_star(n=5 , typ ='left' , shape='*'):
    global sp
    if typ =='left':
        sp = ''
    elif typ == 'right':
        sp = '  '
    elif typ == 'mid':
        sp == ' '
    for i in range( 1,n+1):
         print(space *(n-i) + i*f'{shape} ' ) # directly calll

In [57]:
print_star(5 ,'left','IINTM')

IINTM
IINTM IINTM
IINTM IINTM IINTM
IINTM IINTM IINTM IINTM
IINTM IINTM IINTM IINTM IINTM

In [5]:
def sum_of_n_natural_num(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [6]:
sum_of_n_natural_num(5)

15

In [65]:
def factorial(n):
    result =1
    for i in range(1,n+1):
        result *= i
    return result

In [66]:
factorial(10)

3628800

In [3]:
def total_sales(*args):           #unpacking ( holding more than one element )  means of * and make a tuple 
   return sum(args)

In [4]:
total_sales(1,2,4)

7

In [22]:
def total_sales(*args):
    result =0
    for i in args:
        result += i
    return result

In [23]:
total_sales( 1,3,4)

8

In [24]:
sales =[23,456,745,56 , 467,894]

#min(sales)

min_element = sales[0]
for i in sales [1:]:
print(i)

In [26]:
sales =[23,456,745,56 , 467,894]
min_element = sales[0]
for i in sales[1:]: #starting from 1st index
    if i < min_element:
        min_element = i
print(min_element)

23

In [27]:
sales =[23,456,745,56 , 467,894]
max_element = sales[0]
for i in sales[1:]:
    if i > max_element:
        max_element = i
print(max_element)

894

In [32]:
def minn(*data):
    min_ele = data[0]
    for i in data[1:]:
        if i< min_ele:
            min_ele = i
    return min_ele

In [33]:
minn(34,567,789,569)

34

In [34]:
def maxx(*data):
    max_ele = data[0]
    for i in data[1:]:
        if i> max_ele:
            max_ele = i
    return max_ele

In [35]:
maxx(567,896,87,567,876)

896

In [36]:
company =['ola','uber','rapido','indrive','adani','tata']

def add_hastag(*company):
    result =[]
    for i in company:
        result.append('#'+i.upper())
    return result

In [39]:
add_hastag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [41]:
def store_records(name , age , sec,roll_no ,Class):
    data = {'name': name, 'age':age,'sec':sec,'roll_no':roll_no,'Class':Class }
    import pandas as pd
    result = pd.DataFrame(data,index =[1])
    return result

In [44]:
display(store_records('karan',14,'c',12,12)) # display used to show more than one data in table 
display(store_records('bhoomi',14,'c',12,12))
display(store_records('mansi',14,'c',12,12))

    name  age sec  roll_no  Class
1  karan   14   c       12     12

     name  age sec  roll_no  Class
1  bhoomi   14   c       12     12

    name  age sec  roll_no  Class
1  mansi   14   c       12     12

In [46]:
 def students_records(**kwargs):
     print(kwargs)
     keys =list(kwargs)
  if   type( keys[0] ) ==str:

import pandas as pd
   result = pd.DataFrame(kwargs,index=[1])
     return result
else:
   result = pd.DataFrame(kwargs,index=[1])
     return result

In [47]:
students_records(Name ='bhoomi',Age =20,Sec = 'M2' , Roll_no = 36,Address= 'delhi')

     Name  Age Sec  Roll_no Address
1  bhoomi   20  M2       36   delhi

In [6]:
def students_records(**kwargs): # * = tuple , ** = dictionary store karta h 
    import pandas as pd
    try:
        result =pd.DataFrame(kwargs) # more than one ho gya toh yeh run ho gya 
        return result
    except:
        result = pd.DataFrame(kwargs,index=[1]) # then this will run 
        return result
        
students_records(name =['komal','bhoomi'],
                 age = [12,13],
                 sec = list('AB'),
              roll_no =  [34,56])

     name  age sec  roll_no
0   komal   12   A       34
1  bhoomi   13   B       56

In [ ]:
def show_time(): 
    try:
        while True:
            import time
            print(time.asctime()) # function hai yeh ( time.time , asctime) 
            time.sleep(1)
            display(clear = True) # previous wale ko remove karke current ko show karna
    except:
        print(' timer has been stopped !! ')

In [ ]:
show_time()